/* Modification de la police pour le titre h1 */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
}

#profile {
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}

h2 {
    color: #3498db;
}
